# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.env/
.venv/
env/
venv/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp

# --- Data files ---
*.pdf

# --- Misc ---
.DS_Store
